.Counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.Button {    
    border-radius: 10px;   
    width: auto;
    padding: 12px;   
    background: black;  
    align-self: center;
    flex-grow: 0;   
    color: #FFFFFF;
    cursor: pointer;
    outline: inherit;
    font-size: larger;
}

.Number {
    font-size: 20px;
    padding: 20px;
}

.Controls {
    display: flex;
}